In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("/Users/jinhochoi/Desktop/개발/finance_recommendation/data/cards_data.csv")

In [3]:
data.head()       # 상위 5개 행 확인
data.info()       # 데이터 타입과 결측치 확인
data.describe()   # 통계 요약

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6146 entries, 0 to 6145
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     6146 non-null   int64
 1   client_id              6146 non-null   int64
 2   card_brand             6146 non-null   object
 3   card_type              6146 non-null   object
 4   card_number            6146 non-null   int64
 5   expires                6146 non-null   object
 6   cvv                    6146 non-null   int64
 7   has_chip               6146 non-null   object
 8   num_cards_issued       6146 non-null   int64
 9   credit_limit           6146 non-null   object
 10  acct_open_date         6146 non-null   object
 11  year_pin_last_changed  6146 non-null   int64
 12  card_on_dark_web       6146 non-null   object
dtypes: int64(6), object(7)
memory usage: 624.3+ KB

,id,client_id,card_number,cvv,num_cards_issued,year_pin_last_changed
count,6146.000000,6146.000000,6.146000e+03,6146.000000,6146.000000,6146.000000
mean,3072.500000,994.939636,4.820426e+15,506.220794,1.503091,2013.436707
std,1774.341709,578.614626,1.328582e+15,289.431123,0.519191,4.270699
min,0.000000,0.000000,3.001055e+14,0.000000,1.000000,2002.000000
25%,1536.250000,492.250000,4.486365e+15,257.000000,1.000000,2010.000000
50%,3072.500000,992.000000,5.108957e+15,516.500000,1.000000,2013.000000
75%,4608.750000,1495.000000,5.585237e+15,756.000000,2.000000,2017.000000
max,6145.000000,1999.000000,6.997197e+15,999.000000,3.000000,2020.000000

In [4]:
data = data.dropna()
data['timestamp'] = pd.to_datetime(data['timestamp'])

KeyError: 'timestamp'

In [ ]:
import pandas as pd
import glob
import os

# CSV 파일 경로 지정
csv_files = glob.glob(os.path.join("../data", "*.csv"))

# 여러 파일 불러와서 하나의 DataFrame으로 합치기
data_list = []
for file in csv_files:
    df = pd.read_csv(file)
    data_list.append(df)

data = pd.concat(data_list, ignore_index=True)

# 기본 확인
print(data.head())
print(data.info())